@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500;600&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  background-color: #ffffff;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  transition: 0.2s;
}

.nav-link:hover {
  color: #007bff !important;
}
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #1e293b;
  color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, transform 0.2s;
  pointer-events: none;
  z-index: 9999;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -5px);
}
